<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- Meta tags Obrigatórias -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <style type="text/css">
    .span{
    display: none;
    color: red;
  }
  .cartao{
    display: none;
  }
  #card-cadastro{
    display: none;
  }
  </style>

  <script>
    function cadastro(){
      document.getElementById('card-cadastro').style.display = 'block';
      document.getElementById('card-login').style.display = 'none';
      document.getElementById('span5').style.display = 'none';
      document.getElementById('span7').style.display = 'none';
      document.getElementById('span6').style.display = 'none';
      document.getElementById('span8').style.display = 'none';
    }
    function login(){
      document.getElementById('card-cadastro').style.display = 'none';
      document.getElementById('card-login').style.display = 'block';
      document.getElementById('span5').style.display = 'none';
      document.getElementById('span7').style.display = 'none';
      document.getElementById('span6').style.display = 'none';
      document.getElementById('span8').style.display = 'none';
    }
    function redirectTime() {
        window.location = "/src/views/index.ejs"
    }
  </script>

  <title>Agenda-de-contatos</title>
</head>

<body>